<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.koffel.alfred.terminal-control</string>
	<key>connections</key>
	<dict>
		<key>1A9F2419-74EB-4A6F-8C61-EA7AEA75EA3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>709458DB-2337-49C5-8916-0C14E4CD098B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51C520DD-1049-48C6-9B6E-A38F26F2F64B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>323A3BD5-47A2-43B5-9EBB-A0A8FF7CC263</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FE46981E-3FDD-47A7-9510-FA690B14C279</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open In New Tab</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65B157BF-3FD5-42C4-B1CD-6ED506FDC3CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E73254A-8251-44E8-B1EE-4F5C3805677B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6018FDB8-D982-41A7-8C29-47C540CA9A6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>423D3BFF-5DF9-4367-BD69-7B81FDD4D549</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Apply Settings to Current Tab</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4FA069EF-B704-4779-B545-2725B695A78B</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open In New Tab</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B15D188-CB9E-4A9D-8A82-678A02610F76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AC92AAE-5AF1-482D-AA37-592BA0457559</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0DAB0F3-F896-4812-83F0-A40CE20716AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3993EBC0-A4D7-4D1D-B483-77DEA279D31B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBBBF646-CDE1-4CB0-9678-EA5F7942063A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27F11DBA-8BFD-4D9F-9FAF-73C47F548F08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Will Koffel</string>
	<key>description</key>
	<string>Terminal Control Functions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terminal Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>set script_path to ":script:utils.scpt"
set utils to load script alias script_path
enable_ui_scripting() of utils
set mySetting to "{query}"tell application "Terminal"	activate
	if(contents of mySetting is not "")
		menu_click({"Terminal", "Shell", "New Window", mySetting}) of utils
	else
		do script
	end
end tell
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6018FDB8-D982-41A7-8C29-47C540CA9A6D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>set desiredSettings to "{query}"tell application "Terminal"	set frontTab to selected tab in window 1	set current settings of frontTab to settings set desiredSettingsend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>423D3BFF-5DF9-4367-BD69-7B81FDD4D549</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>term</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Profiles...</string>
				<key>script</key>
				<string>ruby terminal-control.rb {query}
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Apple Terminal Control Functions</string>
				<key>title</key>
				<string>Terminal Control</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>set script_path to ":script:utils.scpt"
set utils to load script alias script_path
enable_ui_scripting() of utils
set myTabSetting to "{query}"tell application "Terminal"	activate	if(contents of myTabSetting is not "")		menu_click({"Terminal", "Shell", "New Tab", myTabSetting}) of utils
	else
		menu_click({"Terminal", "Shell", "New Tab"}) of utils
	endend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4FA069EF-B704-4779-B545-2725B695A78B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>set script_path to ":script:utils.scpt"
set utils to load script alias script_path
enable_ui_scripting() of utils
tell application "Terminal"	activate
	menu_click({"Terminal", "Window", "Move Tab to New Window"}) of utils
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3993EBC0-A4D7-4D1D-B483-77DEA279D31B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>term move</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Move Terminal to Separate WIndow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E0DAB0F3-F896-4812-83F0-A40CE20716AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>set script_path to ":script:utils.scpt"
set utils to load script alias script_path
enable_ui_scripting() of utils
tell application "Terminal"	activate
	menu_click({"Terminal", "Window", "Merge All Windows"}) of utils
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E73254A-8251-44E8-B1EE-4F5C3805677B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>term merge</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Merge All Terminal Windows</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>65B157BF-3FD5-42C4-B1CD-6ED506FDC3CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>keyword</key>
				<string>term dir</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Type to select directory...</string>
				<key>title</key>
				<string>New Terminal at Directory</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>9B15D188-CB9E-4A9D-8A82-678A02610F76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>9AC92AAE-5AF1-482D-AA37-592BA0457559</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>set desiredSettings to "{query}"tell application "iTerm2"	activate	create window with profile desiredSettingsend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>323A3BD5-47A2-43B5-9EBB-A0A8FF7CC263</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>iterm</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Profiles...</string>
				<key>script</key>
				<string>ruby iterm2-control.rb {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>iTerm2 Control Functions</string>
				<key>title</key>
				<string>Terminal Control</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>51C520DD-1049-48C6-9B6E-A38F26F2F64B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>set desiredSettings to "{query}"tell application "iTerm2"	activate	tell (current window)		create tab with profile desiredSettings	end tellend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE46981E-3FDD-47A7-9510-FA690B14C279</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>set script_path to ":script:utils.scpt"
set utils to load script alias script_path
enable_ui_scripting() of utils
tell application "iTerm2"	activate
	menu_click({"iTerm2", "Window", "Arrange Windows Horizontally"}) of utils
end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>27F11DBA-8BFD-4D9F-9FAF-73C47F548F08</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>iterm arrange</string>
				<key>subtext</key>
				<string>Arrange iTerm Windows Horizontally</string>
				<key>text</key>
				<string>iTerm Arrange</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FBBBF646-CDE1-4CB0-9678-EA5F7942063A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>iterm dir</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Type to select directory...</string>
				<key>title</key>
				<string>New iTerm at Directory</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>1A9F2419-74EB-4A6F-8C61-EA7AEA75EA3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>set directory to "{query}"tell application "iTerm2"	activate	tell (create window with default profile)		tell current session			write text "cd " &amp; directory		end tell	end tellend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>709458DB-2337-49C5-8916-0C14E4CD098B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred Workflow for Controlling Apple Terminal and iTerm2.  Feedback welcome.</string>
	<key>uidata</key>
	<dict>
		<key>0E73254A-8251-44E8-B1EE-4F5C3805677B</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>1A9F2419-74EB-4A6F-8C61-EA7AEA75EA3D</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>27F11DBA-8BFD-4D9F-9FAF-73C47F548F08</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>323A3BD5-47A2-43B5-9EBB-A0A8FF7CC263</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>3993EBC0-A4D7-4D1D-B483-77DEA279D31B</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>423D3BFF-5DF9-4367-BD69-7B81FDD4D549</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>4FA069EF-B704-4779-B545-2725B695A78B</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>51C520DD-1049-48C6-9B6E-A38F26F2F64B</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>6018FDB8-D982-41A7-8C29-47C540CA9A6D</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>65B157BF-3FD5-42C4-B1CD-6ED506FDC3CF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>709458DB-2337-49C5-8916-0C14E4CD098B</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>9AC92AAE-5AF1-482D-AA37-592BA0457559</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>9B15D188-CB9E-4A9D-8A82-678A02610F76</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>E0DAB0F3-F896-4812-83F0-A40CE20716AF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>FBBBF646-CDE1-4CB0-9678-EA5F7942063A</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>FE46981E-3FDD-47A7-9510-FA690B14C279</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>810</real>
		</dict>
	</dict>
	<key>version</key>
	<string>2.6</string>
	<key>webaddress</key>
	<string>https://github.com/wkoffel/alfred-terminal-control</string>
</dict>
</plist>
