<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.koffel.alfred.terminal-control</string>
	<key>connections</key>
	<dict>
		<key>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB0E6D6F-D508-4850-99B8-CAA1885811D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Will Koffel</string>
	<key>description</key>
	<string>Apple Terminal Control Functions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Terminal Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>on run argv	set mySetting to "{query}"	tell application "Terminal"		set current settings of (do script) to settings set mySetting		--		if (count argv) is 0 then		-- Use default theme		--			do script		--		else		-- Use theme from arguments		--			set current settings of (do script) to settings set (item 1 of argv)		--		end if	end tellend run</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>DB0E6D6F-D508-4850-99B8-CAA1885811D3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>term</string>
				<key>runningsubtext</key>
				<string>Terminal Control Loading...</string>
				<key>script</key>
				<string>ruby terminal-control.rb {query}

</string>
				<key>subtext</key>
				<string>Apple Terminal Control Functions</string>
				<key>title</key>
				<string>Terminal Control</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6C68D0BB-A89A-4FDD-BB99-B5A5B460646E</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>DB0E6D6F-D508-4850-99B8-CAA1885811D3</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>will.koffel.org/alfred</string>
</dict>
</plist>
